<html>
 <body> 
  <script>
function myFunction() {
  var x = document.getElementById("myInput");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>   
   <h1>Internet Banking</h1>
     <form action="/transfer_balance" method="POST">
        <fieldset>
         <legend> Net Banking </legend>
            <table>
                    <tr>
                        <td><label>Enter Account Number:</label></td>
                        <td><input type="text" name="account_number" placeholder="account number"/></td>
                    </tr>
                    <tr>
                        <td><label>Enter Your Pin:</label></td>
                        <td><input type="password" name="account_pin" placeholder="pin" id="myInput"></td>
                        <td><input type="checkbox" onclick="myFunction()">Show Password
                        </td>
                    </tr>
                    <tr>
                        <td><label>Enter other Account Number:</label></td>
                        <td><input type="text" name="other_account_number" placeholder="account number"/></td>
                    </tr>
                     <tr>
                        <td><label>Enter amount to transfer:</label></td>
                        <td><input type="text" name="transfer" placeholder="amount"/></td>
                    </tr>
                    <tr>
                        <td colspan="2" align="right"> 
                            <input type="submit" value="Submit"/>
                        </td>  
                    </tr> 
                </table>
        </fieldset>  
     </form>
    
  </body>
</html>